@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5 text-center">
    <div class="card shadow-lg p-4 bg-light">
        <h1 class="display-4 text-primary">Добре дошли в AppointmentScheduler!</h1>
        <p class="lead">Планирайте своите срещи бързо и удобно с нашата интуитивна платформа.</p>
        <hr class="my-4">
        <p> Управлявайте вашите графици лесно, без сложни настройки.</p>
        <p> Получавайте известия за предстоящи срещи и никога не пропускайте важни ангажименти.</p>
    </div>
</div>



